@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot');
  src: url('../fonts/fontello.eot?#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff') format('woff'),
       url('../fonts/fontello.ttf') format('truetype'),
       url('../fonts/fontello.svg#fontello') format('svg');
  font-weight: normal; font-style: normal;
}


/************Reset**************/
html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, ol, ul, li, form, fieldset, legend, label, table, header, footer, nav, section {
    margin: 0;
    padding: 0;
    border: 0;
}

ol, ul {
    list-style: none;
}

header, footer, nav, section, article, hgroup, figure {
    display: block;
}

legend {
    display: none;
}
/************End Reset**************/

/************Global**************/
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #f7f7f7;
}

header {
    width: 100%;
    height: 60px;
    background: red;
    position: fixed;
    top: 0;
}

#content {
    width: 100%;
    margin: 60px auto;
    /*padding: 60px 0;*/
    background: #bada55;
}

footer {
    width: 100%;
    background: green;
    /*height: 80px;*/
    /*background: red;*/
    position: fixed;
    bottom: 0;
    /*border-top:1px solid orange;*/
    z-index: 999;
}

li {
    font-size: 4em;
}
/***********Header******************/
#userWarbles {
    display: inline-block;
    float:left;
    color: yellow;
    font-size: 2.5em;
    padding: 3px 10px;
}

#userProfile {
    display: inline-block;
    float:right;
    color: yellow;
    font-size: 2.5em;
    padding: 3px 10px;
}

/***********Footer******************/
textarea {
    width: 100%;
}
#warbleBox {
    height: 70px;
    width: 100%;
}
#warbleSubmit {
    float: right;
    font-size: 3.8em;
}
.wrap {
    overflow: hidden;
    padding-right: .5em;
}